<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="..">Home</a>
    <a href="/skills/new">New Skill</a>
    
    <h1><%= title %></h1>
    
    <ul>

      <% skills.forEach(function(skill) { %>

        <li>
          <form
          action="/skills/<%= skill.id %>?_method=DELETE"
          method="POST"
          class="delete-form"
          >
            <button type="submit">X</button>
          </form>
          <a href="/skills/<%= skill.id %>"><%= skill.skill %></a>
          -
          <%= skill.aquired ? 'aquired' : 'not aquired' %>
        </li>
      <% }); %>
    </ul>
  </body>
</html>